<div class="container-fluid">
        <h1 class="header">Issue tracker</h1>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                      <i class="fas fa-unlock-alt"></i>
                        Reset-Password
                    </div>
                    <form>
                        <div class="form-group">
                           <label for="">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="email" placeholder="Enter email">
                         
                        </div>
                        <div class="btn-alignment">
                            <p class="loader" *ngIf="sendcodeloader==false"></p>
                        <button type="submit" class="btn btn-primary" (click)="sendcode()">Sendcode</button>
                        </div>
                        <div class="form-group" style="margin-top:40px;">
                          <label for="">NewPassword</label>
                         <input type="password" class="form-control" id="exampleInputEmail2" name="NewPassword" [(ngModel)]="password" placeholder="NewPassword">
                       </div>
                       <div class="form-group">
                        <label for="">Confirm Password</label>
                       <input type="password" class="form-control" id="exampleInputEmail" name="ConfirmPassword" [(ngModel)]="ConfirmPassword" placeholder="ConfirmPassword">
                     </div>
                       <div class="form-group">
                        <label for="">ResetCode</label>
                       <input type="email" class="form-control" id="exampleInputEmail3" name="ResetCode" [(ngModel)]="ResetCode" placeholder="ResetCode">
                      
                     </div>
                     <div class="btn-alignment">
                      <p class="loader" *ngIf="resetpasswordloaderr==false"></p>
                  <button type="submit" class="btn btn-primary" (click)="resetpassword()">submit</button>
                  </div>
                      </form>
                  
                    </div>
                    <button type="submit" class="btn btn-primary" [routerLink]="['/signin']" style="border:none;"><i class="fas fa-directions" style="font-size:18px;font-style: bold;">signin</i></button>
        </div>
        <div class="col-md-4">
            
            </div>
    </div>
    <div class="container footer">
            <div class="row" >
              <div class="footer-main-div">
                <div class="footer-social-icons">
                  <ul>
                      <p>Follow me</p>
                  <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
                  </ul>
                  <p>aruashok17@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
</div>